<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1029076770680-o69gbbicq5acrdu2o4jd171t2julr3dj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029076770680-o69gbbicq5acrdu2o4jd171t2julr3dj</string>
	<key>API_KEY</key>
	<string>AIzaSyCbpUoylwPbC9i21AMZrWl-kWrtmWsv3Xw</string>
	<key>GCM_SENDER_ID</key>
	<string>1029076770680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.palipasoftware.dormApp</string>
	<key>PROJECT_ID</key>
	<string>dorm-app15</string>
	<key>STORAGE_BUCKET</key>
	<string>dorm-app15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029076770680:ios:106a286bdda5b5bcefb28d</string>
</dict>
</plist>